// color 
$h1_h2_h3_normalcolor:#0f1419;
$h1_h2_h3_boldcolor:black;
$tweet_color:#fff;
$h6_color:#536471;
$border_line_color:rgba(30,139,195,0.2);
$twitter_color:#1D9Bf0;
$retweet_color:#028a0f;
$like_color:#FF496C;
$follow_color:#fff;
$box_shadow:rgba(0,0,0,0.5);

// background_color
$tweet_background:#1D9BF0;
$tweet_deactive_background:rgba(29,155,240,0.6);
$search_background:rgb(247, 249, 249);
$folow_background:#000;
$tweeter_background:#fff;
$tooltip_background:rgba(0,0,0,0.7);
$fix_background:rgba(255,255,255,0.98);
$fotter_background:rgb(29, 155, 240);
$delete_bac:rgb(244, 33, 46);
$usepro_backdiv:rgb(207, 217, 222);
$modal_background:rgba(132,	132,	130,1);

// background_color on hover
$logo_background:rgba(29, 155, 240,0.1);
$menu_background:rgba(211, 211, 211,0.7);
$trend_background:rgba(211, 211, 211,0.5);
$tweet_hover_background:#1a8bd8;
$post_hover_background:rgba(211, 211, 211,0.15);
$retweet_background:rgba(1,138,15,0.2);
$like_background:rgba(255, 73, 108,0.2);
$follow_hover_background:rgba(0,0,0,0.9);
$sign_hover_background:rgb(237, 234, 222);
$login_hover_background:#1a8bd8;
$logout_account_hove:rgba(225, 232, 237,0.5);
$google_account_hove:rgba(29 ,161 ,242,0.05);
$tweet_image_close:rgba(0,0,0,0.6);
$post_moreoption_hover:rgba(211, 211, 211,0.3);

