@use '../globalscss' as c;

@mixin link_smallscreen(){
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
@mixin link_largescreen(){
    padding:0px 30px 0px 10px;
    height: inherit;
    border-radius: 30px;
    transition: all 0.2s ease-in-out; 
}

@mixin user_profile(){
    height: inherit;
    width: inherit;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
@mixin vertical_center_align(){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin content_align_center(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin menu_item_hover(){
    background-color: c.$menu_background!important;
    transition: all 0.2s ease-in-out;
}

@mixin desktop_only_content(){
    @media screen and (max-width:1299.9px){
        display: none;
    }
}

@mixin heading_bold(){
    font-weight: 700;
    color:c.$h1_h2_h3_normalcolor ;
}

// border-bottom  for component
@mixin border_bottom(){
    border-bottom: 0.5px solid c.$border_line_color;
}

// button to show more option 
@mixin post_option_button(){
    border:none;
    outline: none;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    color:c.$twitter_color ;
    padding: 3px 11px; 
    border-radius: 30px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    @content;
    &:hover{
        background-color:c.$logo_background ;
        transition: all 0.2s ease-in-out;    
    }
}

// tweet more option icon style
// @mixin tweet_more_option{
//     width: 34px;
//     height: 34px;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: all 0.2s ease-in-out;
//     &:hover{
//         background-color: c.$logo_background;
//         transition: all 0.2s ease-in-out;
//     }

//     i{
//         font-size: 18px;
//         color: c.$twitter_color;
//     }

// }


// all more option btn mixins 
@mixin more_option_btn($color,$bac,$hcolor){
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: $bac;
        transition: all 0.2s ease-in-out;
        i{
            color: $hcolor;
        }
    }

    i{
        font-size: 18px;
        color: $color;
        
    }  
}
// this btn used in log section only
@mixin log_more_option_btn($color,$bac,$hcolor,$font){
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: $bac;
        transition: all 0.2s ease-in-out;
        i{
            color: $hcolor;

        }
    }

    i{
        font-size: $font;
        color: $color;
        padding: 0px;
        display: contents;
    }  
}
// tweet post like cmt icon
@mixin tweet_post_status_icon($col,$bac,$hcol){
    background-color: transparent;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 0px 0px;
    &:hover{
        background-color: transparent;  
        a{
            background-color: $bac;     
            i{
                color: $hcol;
            }
        } 
        span{
            color:$hcol;
        }
    }
    a{
        width: 34px;
        height: 34px;
        color: $col;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: $bac;
            transition: all 0.2s ease-in-out;
            i{
                color: $hcol;
            }
        }
        i{
            font-size: 18px;
            color: $col ;
        }
      }
    span{
        font-size: 15px;
        padding: 0px 5px;
        color:$col;
        font-weight: 400;
        @media screen and (max-width:499.9px){
            padding: 0px 2px;
        }
      }
}

// follow button mixin
@mixin follow_button(){
    padding: 5px 16px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: c.$folow_background;
    color: c.$follow_color;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: c.$follow_hover_background;
        transition: all 0.2s ease-in-out;
    }
}

// option div mixins
@mixin option_div{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    background-color: c.$tweeter_background;
    box-shadow: 0px 0px 10px -5px c.$box_shadow;
    overflow: hidden;
}

// login section bytton with login and sign in
@mixin log_sign_btn($col,$back,$h_back){
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 25px;
    
    font-weight: 600;
    background-color: $back;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: $h_back;
        transition: all 0.2s ease-in-out;
    }
    a{
        font-size: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $col;
    }
}

// signup button mixins

@mixin signup($col,$back,$weigth){
    width: inherit;
    height: inherit;
    background-color: transparent;
    border: 1px solid c.$border_line_color;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: $back;
        transition: all 0.2s ease-in-out;
    }
    .button_wrapper{
        display: inline-flex;
        align-items: center;
        i{
            font-size: 20px;
            display: contents;
        }
        span{
            padding-left: 10px;
            font-size: 15px;
            line-height: 1.2;
            font-weight: $weigth;
            color: $col;
            letter-spacing: 0.3px;
        }
    }
   
}

// dropdown btn mixins
@mixin dropdown_btn{
    &.dropdown-toggle:after{
        display: none;
       }
      &.show{
          border: none;
          background-color:transparent;
      }
}

// dropdown menu mixins
@mixin dropdown_box(){
    width: 285px;
    min-height: 100px;
    padding: 0px 0px;
    border: none;
    // position: absolute!important;
    // top:-34px!important; 
    background-color: transparent;
}


// button mixins

@mixin button($col,$bac,$hbac,$hcol){
    width: inherit;
    height: inherit;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
     font-size: 15px;
     line-height: 1.2;
     font-weight: 700;
     color: $col;
     background-color: $bac;
     letter-spacing: 0.2px;
     transition: all 0.2s ease-in-out;
     &:hover{
        background-color: $hbac;
        color: $hcol;
        transition: all 0.2s ease-in-out;
     }
}


// bos shadow of dropdown menu
@mixin dropdown_shadow{
   box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

// mobile header button
@mixin mo_he_button(){
    width: 40px;
    height: 40px;
    background-color: transparent;
    outline:none;
    padding: 0px;
    border: none;
   
    border-radius: 50%;
    &:hover{
        background-color: c.$menu_background;
    }
    overflow: hidden;
    a{
        height: inherit;
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid black;
        // font-size: 20px;
        color: c.$h1_h2_h3_normalcolor;

        span{
            // border: 1px solid red;
           display: contents;  
           svg{
            width: 22px;
            height: 22px;
           }          
        }
    }
}